* { margin:0; padding:0; box-sizing:border-box; }
body {
	color:#222;
	font-family: Arial, helvetica, sans-serif;
	font-size: 16px;
}
section#splash {
	text-align: center;
	background: url(../image/heroimage.JPG);
	background-size: cover;
	color: #fff;
}
h1 {
	font-size: 26px;
}
hr { 
	width: 23px;
}
h2 {
	font-size: 20px;
}
h3 {
	font-style: 18px; 
}
