* { margin:0; padding:0; box-sizing:border-box; }
@import url(https://fonts.googleapis.com/css?family=Cabin:600);
@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT);

body {
	color:#222;
	font-family: 'Old Standard TT', serif; 
	font-size: 16px;
	line-height: 1.5em;
}
section#splash {
	text-align: center;
	font-family: 'Cabin', sans-serif;
	background: url(../images/heroimage.JPG);
	background-size: cover;
	color: white;
	border: 6px black solid;
}
h1 {
	font-size: 26px;
}
hr { 
	width: 23px;
}
h2 {
	font-size: 20px;
}
h3 {
	font-style: 18px; 
}
section#whatwedo {
	background-color: #FFED74;
	border:1px black solid;
	padding:20px;
}

section#marketing {
	background-color: blue;
	border: 1px black solid;
	padding: 20px;
}

section#calendar {
	background-color: red;
	border: 1px black solid;
	padding: 20px;
}

section#advertising {
	background-color: green;
	border: 1px black solid;
	padding: 20px;
}

section#reporting {
	background-color: yellow;
	border: 1px black solid;
	padding: 20px;
}

section#work {
	background-color:#E8C66A;
	border:1px black solid;
	padding:20px;
}

section#ABFF {
	background-color: #FFC675
	border:1px black solid;
	padding:20px;
}

section#FrenchToast {
	background-color:#E89C6C;
	border:1px black solid;
	padding:20px;
}

section#livHome {
	background-color:#FFE2B8;
	border: 1px black solid;
	padding:20px;
}

section#About {
	background-color: #FF957E;
	border: 1px black solid;
	padding:20px;
}

