* { margin:0; padding:0; box-sizing:border-box; }
@import url(https://fonts.googleapis.com/css?family=Cabin:600);
@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT);

body {
	color:#222;
	font-family: 'Old Standard TT', serif; 
	font-size: 16px;
	line-height: 1.5em;
}
nav {
	background-color: black;
	font-family: "old Standard TT", serif;
}
li { 
	background-color: black;
	color: white;
	text-decoration: none;
	display: block;
	float: left;
	padding: 15px;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

section#splash {
	text-align: center;
	font-family: 'Cabin', sans-serif;
	background: url(../images/heroimage.JPG);
	background-size: cover;
	height: 90vh;
	color: white;
	border: 6px black solid;
}
h1 {
	font-size: 34px;
	padding-top: 10em;
	position: absolute;
	width: 100%;
	top: 20%;
	transform: 
		translateY(-50%);
}
h2 {
	font-size: 20px;
}
h3 {
	font-style: 18px; 
}
section#whatwedo {
	background-color: white;
	text-align: center;
	border:1px black solid;
	padding:20px;
}

.grid {
	background-color: white;
	text-align: left;
	border: 1px black solid;
	padding: 5em;
	float: left;
	min-height: 100px;
	margin: 4em;
}

section#work {
	clear: both;
	background-color: 45525D;
	border:1px black solid;
	padding:20px;
}

section#ABFF {
	background-color: white;
	border:1px black solid;
	padding:20px;
}

section#FrenchToast {
	background-color: white;
	border:1px black solid;
	padding:20px;
}

section#livHome {
	background-color: white;
	border: 1px black solid;
	padding:20px;
}

section#About {
	background-color: #94A4B5;
	border: 1px black solid;
	padding:20px;
}

