body {
		text-align: center;
		font-family: Arial 
		font-size: 12px;
}
div {
		text-align: center;
		backgroud: url(image/heroimage.JPG);
		background-size: cover
		color: #fff;
		font-family: Helvetica;
}
h1, {
		color: black
		font-size: 22px;
}
hr { 
		width: 22px;
}
h3 {
	color black
	font-style: 18px; 
}
