body {
		text-align: center;
		background: url("image/heroimage.jpg");
		background-size: cover 

}
h1, {
	color: black
	font-size: 22px;
}
hr { 
	width: 22px}
h3 {
	color black
	font-style: 18px; 
}
